<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer formulario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-6" style="background: aquamarine">HHHHHHHHHHH</div>
            <div class="col-6" style="background: darkgrey">
                <div class="container text-center mt-3 mb-3">

                    <div class="row align-items-start text-lg-start">

                        <div class="col-6" style="background: antiquewhite">
                            <div class="mb-2">
                                <label for="name">Nombre:</label>
                                <input id="name" type="text" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="lastName">Primer apellido:</label>
                                <input id="lastName" type="text" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="email">Email:</label>
                                <input id="email" type="text" class="form-control">
                            </div>
                            <div  class="mt-2">
                                <label for="nationality" class="form-label">Nacionalidad: </label>
                                <select id="nationality" class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="0">Inglés</option>
                                    <option value="1">Español</option>
                                    <option value="2">Catalán</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6" style="background: aquamarine">
                            <div class="mb-2 container" style="width: 144px; height: 61px">
                            </div>
                            <div class="mb-2">
                                <label for="secondLastName">Segundo apellido:</label>
                                <input id="secondLastName" type="text" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="phone">Teléfono:</label>
                                <input id="phone" type="text" class="form-control">
                            </div>
                            <div class="mb-2 text-center">
                                <button class="btn btn-primary mt-4"> Guardar</button>
                                <button class="btn btn-danger mt-4"> Cancelar</button>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>

    </div>


</body>
</html>