<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container text-center mt-5">
    <div class="row align-items-start">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            <div class="container text-xxl-center">


                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title" th:text="${ticketId.getEvent().eventName}">Aqualandia</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item "><p>Precio: <span th:text="${ticketId.priceTicket}"></span>€</p></li>
                        <li class="list-group-item"><p>Entradas disponibles: <span th:text="${ticketId.stock}"></span></p></li>
                        <li class="list-group-item"><p>Capacidad Máxima: <span th:text="${ticketId.getEvent().capacity}"></span></p></li>
                    </ul>
                    <div class="card-body">
                        <a type="button" class="btn btn-secondary" th:href="@{/tickets}">Volver</a>
                        <a class="btn btn-warning fs-6" th:href="@{/tickets/{id}/showEditForm(id=${ticketId.id})}">Editar</a>
                        <a class="btn btn-danger fs-6" th:href="@{/tickets/{id}/delete(id=${ticketId.id})}">Borrar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>

</body>
</html>