<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket List</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div th:replace="navbar :: navbar"></div>
<div class="container text-xxl-center mt-5">

  <h1>Ticket List</h1>

  <table class="table mt-5 text-center">
    <thead class="table-header">
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Tipo entrada</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket: ${tickets}">
      <td th:text="${ticket.id}"></td>
      <td th:text="${ticket.getEvent().eventName}"></td>
      <td th:text="${ticket.priceTicket}"><</td>
      <td th:text="${ticket.stock}"></td>
      <td th:text="${ticket.typeTicket}"></td>
      <td>
        <a class="btn btn-primary fs-6" th:href="@{/tickets/{id}(id=${ticket.id})}">Ver</a>
        <a class="btn btn-secondary fs-6" th:href="@{/tickets/{id}/showEditForm(id=${ticket.id})}">Editar</a>
        <a class="btn btn-danger fs-6" th:href="@{/tickets/{id}/delete(id=${ticket.id})}">Borrar</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>