<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket formulario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div th:replace="navbar :: navbar"></div>
<div class="text-center mt-5">

    <h1 class="mt-5">En construcción...</h1>

    <p>En esta pantalla se mostrará el formulario a completar por el usuario, para editar el ticket.</p>



    <a class="btn btn-primary fs-6" th:href="@{/tickets}">VOLVER</a>

</div>

</body>
</html>